<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Site</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop playsinline>
            <source src="/images/coffee.mp4" type="video/mp4">
        </video>
    </div>
    <div class="content-specific">
        <div class="book-section">
            <div class="specific-book">
                <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-M.jpg">
            </div>
            <div class="book-details">
                <h1 class="book-title"><%=book.title%></h1>
                <h2 class="book-author"><%=book.author%></h2>
                <p class="book-desc"><%=book.description%></p>
                <star>★★★★★</star>
            </div>
        </div>
        <div class="review">
            <div class="review-header">
                <div class="review-buttons">
                    <a href="<%=book.book_link%>" class="get-book">
                        Get Book
                    </a>
                    <div class="bmark-and-share">
                        <%if (book.is_bookmarked) {%>
                        <img class="bookmark" data-id="<%=book.id%>" src="/images/is_bookmarked.svg">
                        <%} else {%>
                        <img class="bookmark" data-id="<%=book.id%>" src="/images/bookmark.svg">
                        <%}%>    
                        <img src="/images/share.svg">
                    </div>
                </div>
            </div>
            <div class="review-desc">
                <div class="review-wrapper">
                    <h1>My Honest Review</h1>
                    <div class="review-content">
                        <%=book.review%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>